{% assign pages = "specific_url,/pages/product-registration,/" | split: "," %}
{% assign check = 0 %}
{% for page in pages %}
{% if page == request.path %}
 {% assign check = 1 %}
{% endif %}
{% endfor %}
{% if "specific_url,,index" contains request.page_type or check == 1 %}
{% unless page.id == 83482902625 or request.path contains '/pages/store-locator' %}
<style>
  @media only screen and (min-width: 749px) {
    #bss-map-popup {
        bottom: 6px;
        right: 5px;
    }
}
  @media only screen and (max-width: 749px) {
    #bss-map-popup {
        bottom: 6px;
        right: 5px;
    }
}
</style>
<div id="bss-background" style="width:100%;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
z-index: 1000;
height: 100%;
">
      <div style="height: 700px;width: 100%;" id="store-locator-page-parent">
        <div id="store-locator-page" style="display: none; position: absolute; right: 0; left: 0;top: 20px;max-width: 2000px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    background: white;
    ">
            <div style="width: 96%; margin: auto; margin-bottom: 20px; border: 2px solid #cccccc85; display: flex; flex-wrap: wrap; justify-content: space-between; padding: 10px 0px;">
                <div style="display: grid; margin: auto; margin-top: 10px; margin-bottom: 10px; flex-grow: 0.5;">
                    <div id="bss-wrapper-input" style="display: flex;"><input type="text" id="bss-search-input" style="width: 100%;" placeholder="Enter your location" />
                        <div id="bss-select-search-option" style="display: inline-flex;"></div>
                    </div> <i style="margin: auto;"> <span id="bss-numbers-of-stores"></span></i>
                </div>
                <div id="bss-wrapper-radius" style="display: flex; margin-bottom: 15px;"><label style="font-weight: bold; margin: auto; margin-right: 10px;">Radius</label><input type="range" min="0" max="100" value="50" id="bss-radius-filter" style="padding-left: 0px; padding-right: 0px;" />
                    <div id="bss-wrapper-radius-value" style="margin: auto; display: flex; margin-left: 10px;"><span id="bss-radius-value"> 50 </span><span id="bss-unit" style="margin-left: 3px;"></span></div>
                </div>
                <div id="bss-btn-wrapper" style="display: flex; margin: auto;"><button style="margin-bottom: 15px; font-weight: bold; color: white; background-color: #656565; border: 1px solid #656565; border-radius: 4px; padding: 7px 50px;" id="bss-search-btn">Search</button></div>
                <div id="bss-wrapper-tag" style="display: flex; margin: auto; width: 88%;"><label style="font-weight: bold; margin: auto; margin-right: 10px; width: 10%;">Tag</label>
                    <div id="bss-filter-tag-wrapper">
                        <div id="bss-filter-tag"></div>
                    </div>
                </div>
                <div id="bss-wrapper-country" style="display: flex; margin: auto; width: 88%;"><label style="font-weight: bold; margin: auto; margin-right: 10px; width: 10%;">Filter by country</label>
                    <div id="bss-filter-country-wrapper">
                        <div id="bss-filter-country" style="display: inline-flex;"></div>
                    </div>
                </div>
            </div>
            <div id="bss-tab-wrapper">
                <div id="bss-list-btn" class="bss-bg-grey" onclick="showListStore()">List</div>
                <div id="bss-map-btn" onclick="showMap()">Map</div>
            </div>
            <div style="position: relative; width: 96%; margin: auto; border: 2px solid #cccccc85;"><span id="bss-location-btn" onclick="findLocation()">Find my location</span>
                <div id="bss-map-wrapper" class="bss-map-wrapper-hidden" style="width: 100%; height: 450px; position: relative;"></div>
                <div id="bss-map-search-box" style="position: absolute; width: 300px; height: 400px; right: 60px; top: 50px; z-index: 1; border: solid 2px #656565; background-color: whitesmoke;">
                    <div style="color: white; font-size: 16px; text-align: center; font-weight: bold; background-color: #656565; padding: 10px 0px;" id="bss-search-result-title">Stores</div>
                    <div style="border-top: solid 1px #656565; position: relative; height: 350px; overflow: auto;">
                        <div style="padding: 10px;" id="bss-search-result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bss-map-popup" onclick="toggle_popup()" style="
    border-color: transparent #ff7f50;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 26%);
    cursor:pointer;
    position:fixed;
    z-index:9995;
    height:60px;
    width:60px;
    "> <span class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium"> <img id="icon-map" src="https://store-locator.bsscommerce.com/image/location-pin.svg" style="max-width: 100%;height: 70px;" alt="Marker" class="Polaris-Thumbnail__Image"></span> </div>
<script>
    var show_search_bar = 0
    var template = 4
    if(show_search_bar == 0) {
        if (template == 3 || template == 4) {
            document.getElementById('store-locator-page').firstElementChild.style.display = "none"
            document.getElementById('bss-map-wrapper').style.height = "650px"
            document.getElementById('bss-map-search-box').style.height = "600px"
            document.getElementById('bss-map-search-box').lastElementChild.style.height = "540px"
        } else if (template == 1) {
            document.getElementById('bss-map-search-box').firstElementChild.style.display = "none"
            document.getElementsByClassName('bss-map-filter')[0].style.display = "none"
        } else if (template == 2) {
            document.getElementById('bss-map-search-box').firstElementChild.style.display = "none"
            document.getElementsByClassName('bss-map-filter')[0].style.display = "none"
            document.getElementsByClassName('bss-list-store')[0].style.height = "90%"
        }
    }
function toggle_popup() {
  if(document.getElementById('bss-background').style.display === "none") {
    document.getElementById('bss-background').style.display = "block";
  } else {
    document.getElementById('bss-background').style.display = "none";
  }
}

</script>
{% endunless %}
{% endif %}